.widget {
    position: absolute;
}

.widget-container {
    position: absolute;
}

.widget-content {
    position: absolute;
    display: table;
}

.widget-content-border {
    display: table-cell;
}

.tabs-outline path {
    stroke: black;
    stroke-width: 0.2px;
    fill: lightgrey;
    stroke-width: 0.15px;
    shape-rendering: geometricprecision;
}

.tabs-outline.selected path {
    fill: #efefef;
    stroke-width: 0.15px;
    shape-rendering: geometricprecision;
}

.widget-tabs {
    cursor: default;
    background-color: #f2f4f5 ;
}

.widget-tabs text {
    font-size: 14px;
    font-family: monospace;
}

.drag-target-widget-overlay {
    background-color: green;
    opacity: 0.4;
    position: absolute;
    display: table;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.emphasize {
    font-size: 28px;
    font-weight: bold;
}